@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your base theme settings */
@layer base {
  html,
  :root {
    --background-color: #fff;
    --text-color: #000;
    --text-active-color: #4669fa;
    --scrollbarBG: #000;
    --thumbBG: #f9fcf9;
    --bg-cover: #f9fcf9;
    --color-primary-50: #f6f8ff;
    --color-primary-100: #edf0ff;
    --color-primary-200: #d1dafe;
    --color-primary-300: #b4c2fd;
    --color-primary-400: #8092ff;
    --color-primary-500: #4669fa;
    --color-primary-600: #3f5edf;
    --color-primary-700: #2a3f96;
    --color-primary-800: #203071;
    --color-primary-900: #151f49;

    --color-secondary-50: #f9fafb;
    --color-secondary-100: #f4f5f7;
    --color-secondary-200: #e5e7eb;
    --color-secondary-300: #d2d6dc;
    --color-secondary-400: #9fa6b2;
    --color-secondary-500: #a0aec0;
    --color-secondary-600: #475569;
    --color-secondary-700: #334155;
    --color-secondary-800: #1e293b;
    --color-secondary-900: #0f172a;

    --color-danger-50: #fff7f7;
    --color-danger-100: #feefef;
    --color-danger-200: #fcd6d7;
    --color-danger-300: #fabbbd;
    --color-danger-400: #f68b8d;
    --color-danger-500: #f1595c;
    --color-danger-600: #d75052;
    --color-danger-700: #913638;
    --color-danger-800: #6d292a;
    --color-danger-900: #461a1b;

    --color-black-50: #f9fafb;
    --color-black-100: #f4f5f7;
    --color-black-200: #e5e7eb;
    --color-black-300: #d2d6dc;
    --color-black-400: #9fa6b2;
    --color-black-500: #111112;
    --color-black-600: #475569;
    --color-black-700: #334155;
    --color-black-800: #1e293b;
    --color-black-900: #0f172a;

    --color-warning-50: #fffaf8;
    --color-warning-100: #fff4f1;
    --color-warning-200: #fee4da;
    --color-warning-300: #fdd2c3;
    --color-warning-400: #fcb298;
    --color-warning-500: #fa916b;
    --color-warning-600: #df8260;
    --color-warning-700: #965741;
    --color-warning-800: #714231;
    --color-warning-900: #492b20;

    --color-info-50: #f3feff;
    --color-info-100: #e7feff;
    --color-info-200: #c5fdff;
    --color-info-300: #a3fcff;
    --color-info-400: #5ff9ff;
    --color-info-500: #0ce7fa;
    --color-info-600: #00b8d4;
    --color-info-700: #007a8d;
    --color-info-800: #005e67;
    --color-info-900: #003f42;

    --color-success-50: #f3fef8;
    --color-success-100: #e7fdf1;
    --color-success-200: #c5fbe3;
    --color-success-300: #a3f9d5;
    --color-success-400: #5ff5b1;
    --color-success-500: #50c793;
    --color-success-600: #3f9a7a;
    --color-success-700: #2e6d61;
    --color-success-800: #1f4b47;
    --color-success-900: #0f2a2e;

    --color-gray-50: #f9fafb;
    --color-gray-100: #f4f5f7;
    --color-gray-200: #e5e7eb;
    --color-gray-300: #d2d6dc;
    --color-gray-400: #9fa6b2;
    --color-gray-500: #68768a;
    --color-gray-600: #475569;
    --color-gray-700: #334155;
    --color-gray-800: #1e293b;
    --color-gray-900: #0f172a;
  }

  html.dark {
    --background-color: #111112; /* Background color inverted from #fff */
    --text-color: #fff; /* Background color inverted from #fff */
    --text-active-color: #4669fa;
    --scrollbarBG: steelblue;
    --thumbBG: #383838;

    --color-primary-50: #0d0b00; /* Inverted from #F6F8FF */
    --color-primary-100: #12100f; /* Inverted from #EDF0FF */
    --color-primary-200: #2e25ff; /* Inverted from #D1DAFE */
    --color-primary-300: #4b3dfd; /* Inverted from #B4C2FD */
    --color-primary-400: #7f6d00; /* Inverted from #8092FF */
    --color-primary-500: #b99605; /* Inverted from #4669FA */
    --color-primary-600: #c0a121; /* Inverted from #3F5EDF */
    --color-primary-700: #d5c0ff; /* Inverted from #2A3F96 */
    --color-primary-800: #e0cf8e; /* Inverted from #203071 */
    --color-primary-900: #efafb6; /* Inverted from #151F49 */

    --color-secondary-50: #0b0a09; /* Inverted from #F9FAFB */
    --color-secondary-100: #0b0a08; /* Inverted from #F4F5F7 */
    --color-secondary-200: #1a1814; /* Inverted from #E5E7EB */
    --color-secondary-300: #2d2923; /* Inverted from #D2D6DC */
    --color-secondary-400: #606f4d; /* Inverted from #9FA6B2 */
    --color-secondary-500: #5f57; /* Inverted from #A0AEC0 */
    --color-secondary-600: #b8a9b6; /* Inverted from #475569 */
    --color-secondary-700: #ccbda9; /* Inverted from #334155 */
    --color-secondary-800: #e1d6c4; /* Inverted from #1E293B */
    --color-secondary-900: #f0ebe2; /* Inverted from #0F172A */

    --color-danger-50: #e8e808; /* Inverted from #FFF7F7 */
    --color-danger-100: #f10110; /* Inverted from #FEEFEF */
    --color-danger-200: #329292; /* Inverted from #FCD6D7 */
    --color-danger-300: #045542; /* Inverted from #FABBBD */
    --color-danger-400: #970474; /* Inverted from #F68B8D */
    --color-danger-500: #a6a6; /* Inverted from #F1595C */
    --color-danger-600: #2a2d; /* Inverted from #D75052 */
    --color-danger-700: #6ec9c9; /* Inverted from #913638 */
    --color-danger-800: #92eaea; /* Inverted from #6D292A */
    --color-danger-900: #e5f5f5; /* Inverted from #461A1B */

    --color-black-50: #0b0a09; /* Inverted from #F9FAFB */
    --color-black-100: #0b0a08; /* Inverted from #F4F5F7 */
    --color-black-200: #1a1814; /* Inverted from #E5E7EB */
    --color-black-300: #2d2923; /* Inverted from #D2D6DC */
    --color-black-400: #606f4d; /* Inverted from #9FA6B2 */
    --color-black-500: #111112; /* Background color */
    --color-black-600: #b8a9b6; /* Inverted from #475569 */
    --color-black-700: #ccbda9; /* Inverted from #334155 */
    --color-black-800: #e1d6c4; /* Inverted from #1E293B */
    --color-black-900: #f0ebe2; /* Inverted from #0F172A */

    --color-warning-50: #171705; /* Inverted from #FFFAF8 */
    --color-warning-100: #171707; /* Inverted from #FFF4F1 */
    --color-warning-200: #120b26; /* Inverted from #FEE4DA */
    --color-warning-300: #0d1640; /* Inverted from #FDD2C3 */
    --color-warning-400: #034d67; /* Inverted from #FCB298 */
    --color-warning-500: #057e94; /* Inverted from #FA916B */
    --color-warning-600: #208d9f; /* Inverted from #DF8260 */
    --color-warning-700: #69a8d4; /* Inverted from #965741 */
    --color-warning-800: #8eb7e4; /* Inverted from #714231 */
    --color-warning-900: #b6d3f1; /* Inverted from #492B20 */

    --color-info-50: #0c0101; /* Inverted from #F3FEFF */
    --color-info-100: #180101; /* Inverted from #E7FEFF */
    --color-info-200: #3a0202; /* Inverted from #C5FDFF */
    --color-info-300: #5c0303; /* Inverted from #A3FCFF */
    --color-info-400: #a00606; /* Inverted from #5FF9FF */
    --color-info-500: #f3f3f3; /* Inverted from #0CE7FA */
    --color-info-600: #4d8c8c; /* Inverted from #00B8D4 */
    --color-info-700: #95c3c3; /* Inverted from #007A8D */
    --color-info-800: #bdd9d9; /* Inverted from #005E67 */
    --color-info-900: #e5f0f0; /* Inverted from #003F42 */

    --color-success-50: #0c0101; /* Inverted from #F3FEF8 */
    --color-success-100: #180101; /* Inverted from #E7FDF1 */
    --color-success-200: #3a0202; /* Inverted from #C5FBE3 */
    --color-success-300: #5c0303; /* Inverted from #A3F9D5 */
    --color-success-400: #a00606; /* Inverted from #5FF5B1 */
    --color-success-500: #c7c7; /* Inverted from #50C793 */
    --color-success-600: #5c5d; /* Inverted from #3F9A7A */
    --color-success-700: #9190; /* Inverted from #2E6D61 */
    --color-success-800: #bbba; /* Inverted from #1F4B47 */
    --color-success-900: #e5e4; /* Inverted from #0F2A2E */

    --color-gray-50: #0b0a09; /* Inverted from #F9FAFB */
    --color-gray-100: #0b0a08; /* Inverted from #F4F5F7 */
    --color-gray-200: #1a1814; /* Inverted from #E5E7EB */
    --color-gray-300: #2d2923; /* Inverted from #D2D6DC */
    --color-gray-400: #606f4d; /* Inverted from #9FA6B2 */
    --color-gray-500: #7f6d00; /* Inverted from #68768A */
    --color-gray-600: #4b3dfd; /* Inverted from #475569 */
    --color-gray-700: #2e25ff; /* Inverted from #334155 */
    --color-gray-800: #12100f; /* Inverted from #1E293B */
    --color-gray-900: #0d0b00; /* Inverted from #0F172A */
  }

  html.navi {
    --background-color: #001F3F;
    --text-color: #0ce7fa;
    --text-active-color: #c7c7;
  }

  html.shade-of-blue {
    --background-color: #7eb5f5;
    --text-color: #0616f7;
    --text-active-color: #fca50510;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-base);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-primary);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-background);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--color-secondary);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-primary);
    background-color: var(--color-background);
  }
  a:hover {
    color: var(--color-secondary);
  }
  button {
    background-color: var(--color-buttons);
  }
}

body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
}


div::-webkit-scrollbar {
  width: 11px;
}
div {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
div::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
div::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
}